doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/dist/css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Raleway:300,400,900" rel="stylesheet")
    block title
  body
    .grid
      nav#main-nav
        .logo
          a(href="/")
            include ../../../dist/img/logo_jet.svg
        .links
          a(href="/work.html") Work
          a(href="/about.html") About
          a(href="/contact.html") Contact
        // ul    
          li 
            a(href="/work.html") Work
          li
            a(href="/about.html") About
          li  
            a(href="/contact.html") Contact
        .flair
          .switcher
            img(src="../../../dist/img/swap-arrows.svg" id="switcher" onclick="swapColor()")
          .pallete.bg
            input(id="pallete1" type="color" name="" value="#00ffc2")
          .pallete.fg
            input(id="pallete2" type="color" name="" value="#ff003d")
        .line  
      block content
      footer
        script(src="/dist/js/main-dist.js")
        // span &copy; 2018 Bryce Stradling
