extend _partials/layout.pug
block title
  title About
block content
  main
    h1 About
    #about-content
      img(src="../dist/img/hero_bg.png")
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, repudiandae vel iste, aperiam eveniet, laudantium excepturi cumque deserunt quam eos officiis facilis obcaecati perspiciatis doloribus laborum maiores amet autem necessitatibus.
