extend _partials/layout.pug
block title
  title Contact
block content
  main
    form
      input(type="text" placeholder="Name")
      input(type="email" placeholder="Email")
      textarea(placeholder="message")
      input(type="submit" value="submit")
