// General
*
  box-sizing: border-box

body
  margin: 0
  padding: 0

//main page
.content
  background: url(https://fillmurray.com/2000/2000)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.hero
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25))
  text-transform: uppercase
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
.big-logo
  fill: $black
  max-width: 33%
.ctas
  width: 100%
  display: flex
  justify-content: space-around

// CONTACT Page
#Contact
  background: url(../../dist/img/contact-bg.svg)
  background-size: cover
  height: 100vh
  display: flex
  align-content: center
  justify-content: center
#Contact-content
  align-self: center
  display: grid
  grid-template-columns: repeat(5, 100px)
  grid-template-rows: repeat(6, 100px)
  .title
    grid-row: 1 / span 1
    grid-column: 1 / span 4
    z-index: 1
    text-align: center
    h1
      font-weight: 900

#contactForm
  grid-row: 2 / span 6
  grid-column: 2 / span 5
  background: $black
  padding: 1em
  color: white
  //max-width: 30%
  //align-self: center
  h2
    font-weight: 300
    font-size: 3.5em
    margin-bottom: 0
    text-transform: uppercase
  fieldset
    border: 0
    padding: 1em 0
    margin: 0
  label
    margin-right: 1em
  input,label
    display: inline
    width: 50%
    //padding: 1em
  textarea
    border: 3px dashed white
    display: block
    width: 100%
    margin: 0.5em 0
    padding: 1em
    background: $black
    color: white
    &:focus
      outline: none
      &::placeholder
        opacity: 0
        transition: 0.1s ease-out
    &::placeholder
      //color: white
      font-family: monospace
  input
    padding: 0.5em
    border: 0
    border-bottom: 3px dashed white
    background: $black
    color: white
    &:focus
      outline: none
      &::placeholder
        opacity: 0
        transition: 0.1s ease-out
    &::placeholder
      //color: white
      font-family: monospace
      text-align: center
  input[type="submit"]
    margin-top: 1em
    display: block
    background: $magenta
    border: 0
    color: white
    text-transform: uppercase
    font-size: 1.5em
    width: 100%
