// General
*
  box-sizing: border-box

body
  margin: 0
  padding: 0

//main page
.content
  background: url(https://fillmurray.com/2000/2000)
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
.hero
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.25))
  text-transform: uppercase
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
.big-logo
  fill: $black
  max-width: 33%
.ctas
  width: 100%
  display: flex
  justify-content: space-around

// ABOUT PAGE
#About
  display: flex
  align-items: center
  justify-content: center
#about-content
  display: grid
  grid-template-columns: repeat(24, 50px)
  grid-template-rows: repeat(12, 75px)
.title
  grid-row: 2 / span 1
  grid-column: 1 / span 13
  z-index: 1
  //text-align: center
  h1
    font-size: 3.5em
    font-weight: 900
    text-transform: uppercase
    color: $black
    background: $magenta
    padding: 10px
    border: 10px solid white

.bio
  background: white
  padding: 1em
  grid-row: 3 / span 8
  grid-column: 2 / span 11
  z-index: 0

.socials
  padding-top: 4rem
  a
    margin-right: 1em
    text-decoration: none
  svg
    +sq(3em)

.mugshot
  width: 100%
  grid-row: 2 / span 10
  grid-column: 12 / span 13
  border: 10px solid white
  background-image: linear-gradient(180deg, #F90094 0%, #05E8BC 100%), url(../../dist/img/Portrait.png)
  background-blend-mode: overlay, normal
  background-repeat: no-repeat
  background-size: cover

// CONTACT Page
#Contact-content
  background: url(../../dist/img/contact-bg.svg)
  display: flex
  align-content: center
  justify-content: center
#contactForm
  background: $black
  padding: 1em
  color: white
  max-width: 30%
  align-self: center
  h2
    font-size: 3.5em
