#main-nav
  height: 100vh
  padding-top: 1rem
  box-sizing: border-box
  display: flex
  flex-direction: columns
  align-items: center
  background: red
  writing-mode: vertical-lr

.logo
  svg
    width: 50px
    fill: black
ul
  list-style-type: none
  li
    display: inline
    a
      text-decoration: none
